@font-face {
	font-family: 'Inter';
	src: url(./assets/fonts/Inter-VariableFont.ttf) format('truetype');
}

@font-face {
	font-family: 'Karla';
	src: url(./assets/fonts/Karla-VariableFont.ttf) format('truetype');
}
